<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<i class="fa fa-camera-retro fa-lg"></i> fa-lg
<i class="fa fa-camera-retro fa-2x"></i> fa-2x
<i class="fa fa-camera-retro fa-3x"></i> fa-3x
<i class="fa fa-camera-retro fa-4x"></i> fa-4x
<i class="fa fa-camera-retro fa-5x"></i> fa-5x

<%= link_to t('Logout').html_safe, destroy_user_session_path, method: 'delete' %>


