<h1>Account Reject</h1>

<ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square"></i>Your account is still waiting for approve.</li>
  <li><i class="fa-li fa fa-check-square"></i>Your account is banned.</li>  
</ul>

<!--
  <% if notice %>
    <div class="alert alert-info alert-dismissible shake animated" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Notice!</strong> <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning alert-dismissible shake animated" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Warning!</strong> <%= alert %>
    </div>
  <% end %>
-->